// colors
$white: #fff;
$black: #000;
$blue: #019ec4;
$blue-2: #07a0c5;
$blue-deep: #0090b3;
$blue-dark: #032b38;
$grey-white: #f7f7f7;
$grey-super-light: #eee;
$grey-light: #c2c2c2;
$grey-medium: #8e8e8e;
$grey-medium-2: #848484;
$grey-medium-dark: #707070;
$grey: #5a5a5a;
$red: #ff5959;

// font
$rootSize: 18px;
$gothicWeight: 400;
$gothicBoldWeight: 700;

// dimensions
$desktopMax: 1440px;
$tabletMax: 1365px;
$tabletMaxStandard: 991px;
$mobileMax: 767px;

// other
$transitionTime: 200ms;

//for swiper
$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;
